<div class="section">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h3 class="mb-0 pb-3"><span>Forget Password Page</span></h3>

          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />

          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front" >
                <form [formGroup]="forgetPassword" (ngSubmit)="sendMail()" *ngIf="!mailSent">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Enter Registered Mail</h4>
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-style"
                          placeholder="Your Email"
                          id="userName"
                          autocomplete="off"
                          formControlName="userName"
                        />

                        <div
                          class="alert alert-danger"
                          style="padding: 0em"
                          *ngIf="userName.errors?.['required'] 
                                                    && (userName.touched || userName.dirty)"
                        >
                          Email is required!
                        </div>
                        <div class="alert alert-danger" style="padding: 0em" *ngIf="userName.errors?.['userName']
                                                    && (userName.touched || userName.dirty)">Email is not valid!</div>
                        <i class="input-icon uil uil-at fa fa-id-card"></i>
                      </div>

                      <button
                        type="submit"
                        [disabled]="forgetPassword.invalid"
                        class="btn mt-4"
                      >
                        Send Mail
                      </button>
                    </div>
                  </div>
                </form>
                <link
                  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                  rel="stylesheet"
                />
                <section class="mail-seccess section" *ngIf="mailSent">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6 offset-lg-3 col-12">
                        <!-- Error Inner -->
                        <div class="success-inner">
                          <h1>
                            <i class="fa fa-envelope"></i
                            ><span>Your Mail Sent Successfully!</span>
                          </h1>
                          <p>
                           Please check your Mail and come back using the link 
                          </p>
                          <a href="#" class="btn btn-primary btn-lg">Go Home</a>
                        </div>
                        <!--/ End Error Inner -->
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
