<div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h3 class="mb-0 pb-3"><span>Forget Password Page</span></h3>
  
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
  
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front" *ngIf="token">
                    <form  [formGroup]="resetNewPassword" (ngSubmit)="updateOldPassword()">
                        <div class="center-wrap">
                            <div class="section text-center">
                                <h4 class="mb-4 pb-3">Please Reset Password for Mail for {{userMailId}}</h4>
                                <div class="form-group mt-2">
                                    <input type="password" class="form-style" placeholder="Your New Password" id="password" formControlName="newPassword" autocomplete="off"/>

                                    <div class="alert alert-danger" style="padding: 0em" *ngIf="newPassword.errors?.['required'] 
                                    && (newPassword.touched || newPassword.dirty)">New Password is required!</div>
                                    <div class="alert alert-danger" style="padding: 0em" *ngIf="newPassword.errors?.['minlength'] || newPassword.errors?.['maxlength'] 
                                    && (newPassword.touched || newPassword.dirty)">Password should be at least 8 digit at the max 15 characters long!</div>
                                    <i class="input-icon uil uil-lock-alt fa fa-lock"></i>
                                </div>
                                <button type="submit" [disabled]="resetNewPassword.invalid" class="btn mt-4">Update Password</button>
                              </div>
                          </div>
                          <!-- New Password -->
                    </form>
                
                  
                </div>
                <!-- if someone wants to update password -->
                <div class="card-front" *ngIf="!token">
                    <form  [formGroup]="resetOldPassword" (ngSubmit)="updateNewPassword()">
                        <div class="center-wrap">
                            <div class="section text-center">
                                <h4 class="mb-4 pb-3">Reset Password</h4>
                                <div class="form-group mt-2">
                                    <input type="password" class="form-style" placeholder="Your Old Password" id="password" formControlName="oldPassword" autocomplete="off"/>

                                    <div class="alert alert-danger" style="padding: 0em" *ngIf="oldPassword.errors?.['required'] 
                                    && (oldPassword.touched || oldPassword.dirty)">New Password is required!</div>
                                    <div class="alert alert-danger" style="padding: 0em" *ngIf="oldPassword.errors?.['minlength'] || oldPassword.errors?.['maxlength'] 
                                    && (oldPassword.touched || oldPassword.dirty)">Password should be at least 8 digit at the max 15 characters long!</div>
                                    <i class="input-icon uil uil-lock-alt fa fa-lock"></i>
                                </div>
                                <div class="form-group mt-2">
                                    <input type="password" class="form-style" placeholder="Your updatePassword Password" id="password" formControlName="updatePassword" autocomplete="off"/>

                                    <div class="alert alert-danger" style="padding: 0em" *ngIf="updatePassword.errors?.['required'] 
                                    && (updatePassword.touched || updatePassword.dirty)">New Password is required!</div>
                                    <div class="alert alert-danger" style="padding: 0em" *ngIf="updatePassword.errors?.['minlength'] || updatePassword.errors?.['maxlength'] 
                                    && (updatePassword.touched || updatePassword.dirty)">Password should be at least 8 digit at the max 15 characters long!</div>
                                    <i class="input-icon uil uil-lock-alt fa fa-lock"></i>
                                </div>
                                <button type="submit" [disabled]="resetOldPassword.invalid" class="btn mt-4">Update Password</button>
                              </div>
                          </div>
                          <!-- New Password -->
                    </form>
                
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  