<div class="wrapper bg-white mt-sm-5">

    <h4 class="pb-4 border-bottom">Account settings</h4>

    <div class="form-group">
     
        <!-- <label for="file">File</label> -->

        <input type="file"  class="form-control"  (change)="onFileChange($event)" style="
            width: 281px; height: 42px;">  
    </div>
  
    
    <div class="py-2">

        <div class="row py-2"> 

            <img [src]="imageSrc" *ngIf="imageSrc" [(ngModel)]="useraccountsetting.profileimage" style="height: 134px; width:134px;margin-top: -63px;
            margin-left: 312px;">
            
            <div class="col-md-6">

                <label for="firstname">Name</label>

                <input type="text" class="bg-light form-control" placeholder="Name" [(ngModel)]="useraccountsetting.name" autocomplete="off">

            </div>

            <div class="col-md-6">

                <label for="email">Email Address</label>

                <input type="text" class="bg-light form-control" placeholder="Email" [(ngModel)]="useraccountsetting.email" autocomplete="off" readonly>

            </div>

            <div class="row py-2">

                <div class="col-md-6 pt-md-0 pt-3">
    
                    <label for="phone">Phone Number</label>
    
                    <input type="tel" class="bg-light form-control" placeholder="Phone Number" [(ngModel)]="useraccountsetting.phonenumber">
    
                </div>
    
            </div>

        </div>

        <div class="py-3 pb-4 border-bottom">

            <button class="btn btn-primary mr-3" (click)="SaveUserDetail()">Save Changes</button>            
            <button class="btn border button" (click)="CancelAccountSetting()">Cancel</button>

        </div>

    </div>

</div>
